.cabecalho{
    background-color: #424e61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
    height: 50%;
    padding: 10px;
}


.cabecalho-lista-item{
    background-color: #424e61;
    color: white;
    display: inline-block;
    margin: 0 16px;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.escola-imagem{ 
    width: 25%;
}

.escola{
    background-image: linear-gradient();
}